h1 {
    color: blue;
}

.tree {
    align-items: center;
}

img {
    max-width: 100%;
}
/*Form styling for adding new goals and for registration*/
form {
    width: 100%;
    padding: 0.5em;
    display: grid;
    
}

.form-group {
    padding: 0.5em;
    
}
